<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ACCESS DENIED</title>

    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <link href="../static/css/custom_style.css" rel="stylesheet">

</head>
<body>
	
<div style="text-align:center">

    <img src="https://orig00.deviantart.net/b92a/f/2017/086/4/9/error_sans_eye___gif_by_believethehorror-db3qj4u.gif" alt="error_img">
    <br>
        <h2>ERROR - ACCESS DENIED - You probably don't have access to that page or it does not exist.</h2>
        <h2>In case of any complaints call Service Desk under 0118 999 881 999 119 7253.</h2>
    <br>
    <a th:onclick="'javascript:window.history.back();'" class="btn btn-warning ml-3">Go back</a>

</div>	
	
</body>	
</html>
